#vCambiarPassword #cambiarPassword{
    margin: 50px calc((100dvw - 550px)/2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#vCambiarPassword #cambiarPassword h2{
    padding: 8px 16px;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
}
#vCambiarPassword #cambiarPassword>h2{
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    border-top: var(--anchoBorde) solid var(--colorBorde2);
}
#vCambiarPassword #cambiarPassword #datosPersonales{
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
}
#vCambiarPassword #cambiarPassword #datosPersonales button{
    width: 100%;
}

#vCambiarPassword #cambiarPassword .contenido{
    grid-column: 1/ span 2;
    padding: 30px;
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    & *{
        width: 100%;
    }
}
#vCambiarPassword #cambiarPassword .contenido label{
    display: block;
    margin-top: 16px;
}
#vCambiarPassword #cambiarPassword .contenido input{
    padding: 6px 12px;
    font-size: 1.2rem;
    height: 50px;
    margin-top: 8px;
    border: var(--anchoBorde) solid var(--colorBorde2);
}
#vCambiarPassword .error{
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
}
#vCambiarPassword .cuadroRojo{
    border-color: var(--color1);
}
#vCambiarPassword #guardar{
    background-color: var(--colorBoton3);
    height: 60px;
    margin-top: 50px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        text-transform: uppercase;
        font-size: 1.1rem;
    } 
}
#vCambiarPassword #guardar:hover{background-color: var(--colorBotonMarcado2y3);}
#vCambiarPassword #cancelar{
    height: 60px;
    border: 2px solid var(--colorBorde2);
    margin-top: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    & span{
        text-transform: uppercase;
        font-size: 1.1rem;
    } 
}
#vCambiarPassword #cancelar:hover{
    background-color: var(--colorBotonMarcado2y3);
    border: 0px;
    & span{
        color: var(--colorTexto4);
    } 
}