#vConsultarModificarDepartamento #consultarModificarDepartamento{
    margin: 50px calc((100dvw - 550px)/2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#vConsultarModificarDepartamento button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vConsultarModificarDepartamento>form>div:first-child{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
#vConsultarModificarDepartamento>form>div:first-child button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vConsultarModificarDepartamento #consultarModificarDepartamento h2{
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    font-size: 1rem;
}
#vConsultarModificarDepartamento #consultarModificarDepartamento>span{
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
}
#vConsultarModificarDepartamento #consultarModificarDepartamento #iniciarSesion button{
    width: 100%;
}
#vConsultarModificarDepartamento #consultarModificarDepartamento>h2{
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    border-top: var(--anchoBorde) solid var(--colorBorde2);
}
#vConsultarModificarDepartamento #consultarModificarDepartamento .contenido{
    grid-column: 1/ span 2;
    padding: 30px;
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    & *{
        width: 100%;
    }
}
#vConsultarModificarDepartamento #consultarModificarDepartamento .contenido label{
    display: block;
    margin-top: 16px;
}
#vConsultarModificarDepartamento #consultarModificarDepartamento .contenido input{
    padding: 6px 12px;
    font-size: 1.2rem;
    height: 50px;
    margin-top: 8px;
    border: var(--anchoBorde) solid var(--colorBorde2);
}
#vConsultarModificarDepartamento .error{
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
}
#vConsultarModificarDepartamento .cuadroRojo{
    border-color: var(--color1);
}
#vConsultarModificarDepartamento #modificar, #cambiarContrasena, #volver{
    background-color: var(--colorBoton3);
    height: 60px;
    margin-top: 50px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        text-transform: uppercase;
        font-size: 1.1rem;
    } 
}
#vConsultarModificarDepartamento #modificar:hover{
    background-color: var(--colorBotonMarcado2y3);
}
#vConsultarModificarDepartamento #cajaVolumenDeNegocio{
    display: flex;
    justify-content: center;
    align-items: center;
}
#vConsultarModificarDepartamento #cajaVolumenDeNegocio span{
    margin-right: 100px;
    margin-left: 10px;
}