/* CSS para todas las páginas y el layout */
:root {
    --color1: #CB333B;
    --color2: #ffffff;
    --color3: #f9f9f9;
    --color4: #333333;
    --colorPie: #F3F2F2;

    --colorBoton1: #CC292B;
    --colorBotonMarcado1: #980F10;
    --colorboton2: #FFFFFF;
    --colorBoton3: #CB333B;
    --colorBotonMarcado2y3: #999999;
  
    --colorBorde1: #cccccc;
    --colorBorde2: #555555;
    --radioBorde: 6px;
    --anchoBorde: 1px;
  
    --colorTexto1: #3B3A3B;
    --colorTexto2: #CB333B;
    --colorTexto3: #00716A;
    --colorTexto4: #FFFFFF;
    --tamanoTexto: 16px;
    --fuenteTexto1: Open Sans, sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Open Sans, sans-serif;
    color: var(--colorTexto1);
    list-style: none;
}
/* Estilos comunes para todas las paginas */
main{
    min-height: 70vh;
}
button {
    background-color: var(--color2);
    border: 0px;
    cursor: pointer;
}
.oculto{visibility: hidden;}
.visible{visibility: visible;}
.inactivo{display: none;}
.activo{display: default;}
.rojo{color: var(--color1);}
.enlace{text-decoration: underline;}
.obligatorio{background-color: #fff1de;}
.gris{
    color: lightgray;
    /* background-color: lightgray; */
}
/* Barra superior*/
#aviso{
    background-color: var(--color1);
    color: var(--colorTexto4);
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 9px;
    text-transform: uppercase;
    width: 100%;
}
/* Cabecera */
#cabecera{
    background-color: var(--color2);
    border-bottom: var(--colorBorde1) solid var(--anchoBorde);
    padding: 15px 0px 15px 15px;
    position: sticky;
    top: 0;
    z-index: 2001;
    width: 100%;
}
/* Creamos la sombra como un elemento separado */
#sombra {
    position: sticky;
    top: 75px; /* Se sitúa justo al terminar la cabecera */
    left: 0;
    width: 100%;
    height: 15px; /* Altura de la sombra */
    
    /* Graduado que simula la sombra difuminada hacia abajo */
    background: linear-gradient(to bottom, 
                rgba(0,0,0,0.15) 0%, 
                rgba(0,0,0,0) 100%);
    
    /* Importante: queda detrás del contenido que viene después */
    z-index: 2000; 
    pointer-events: none;
}
#cabecera img{
    height: 40px;
}
#cabecera h2{
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    width: 100%;
}
#cabecera .menuIdioma button{
    position: relative;
}
#cabecera .menuIdioma p{
    position: absolute;
    top: 6px;
    left: 5px;
}
#cabecera .enlaceIniciarSesion{font-weight: bold;}
#cabecera .enlaceIniciarSesion:hover, #cabecera .enlaceRegistrarse:hover,
#cabecera .enlaceCuenta:hover, #cabecera .enlaceCerrarSesion:hover {
    text-decoration: underline;
}
#cabecera .menuCabecera{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 100px 50px 50px;
}
#cabecera .menuIniciarSesion{position: relative;}
#cabecera .submenuIniciarSesion{
    position: absolute;
    width: 111px;
    top: 40px;
    left: -40px;
    background-color: var(--color2);
    padding: 15px;
    border: 1px solid var(--colorBorde1);
    display: none;
}
#cabecera li:hover .submenuIniciarSesion{display: block;}

/* Pie de pagína */
#pie{
    background-color: var(--colorPie);
    border-top: var(--anchoBorde) solid var(--colorBorde1);
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#pie div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    height: 40px;
}
#pie div a{
    display: grid;
    place-items: center;
}
#pie .derechos{font-size: 0.8rem;}
#pie img{
    height: 35px;
    margin-right: 10px;
}

/* ****************************************** */
/* **** Estilos para consultar/modificar **** */
/* ****************************************** */
#vConsultarModificarDepartamento #consultarModificarDepartamento{
    margin: 5px calc((100dvw - 550px)/2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#vConsultarModificarDepartamento button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vConsultarModificarDepartamento>form>div:first-child{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
#vConsultarModificarDepartamento>form>div:first-child button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vConsultarModificarDepartamento #consultarModificarDepartamento h2{
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    font-size: 1rem;
}
#vConsultarModificarDepartamento #consultarModificarDepartamento>span{
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
}
#vConsultarModificarDepartamento #consultarModificarDepartamento>h2{
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    border-top: var(--anchoBorde) solid var(--colorBorde2);
}
#vConsultarModificarDepartamento #consultarModificarDepartamento .contenido{
    grid-column: 1/ span 2;
    padding: 30px;
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    & *{
        width: 100%;
    }
}
#vConsultarModificarDepartamento #consultarModificarDepartamento .contenido label{
    display: block;
    margin-top: 16px;
}
#vConsultarModificarDepartamento #consultarModificarDepartamento .contenido input{
    padding: 6px 12px;
    font-size: 1.2rem;
    height: 50px;
    margin-top: 8px;
    border: var(--anchoBorde) solid var(--colorBorde2);
}
#vConsultarModificarDepartamento .error{
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
}
#vConsultarModificarDepartamento .cuadroRojo{
    border-color: var(--color1);
}
#vConsultarModificarDepartamento #modificar, #volver{
    background-color: var(--colorBoton3);
    height: 60px;
    margin-top: 50px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        text-transform: uppercase;
        font-size: 1.1rem;
    } 
}
#vConsultarModificarDepartamento #modificar:hover{
    background-color: var(--colorBotonMarcado2y3);
}
#vConsultarModificarDepartamento #cajaVolumenDeNegocio{
    display: flex;
    justify-content: center;
    align-items: center;
}
#vConsultarModificarDepartamento #cajaVolumenDeNegocio span{
    margin-right: 100px;
    margin-left: 10px;
    font-size: calc(var(--tamanoTexto)*1.4);
}
#vConsultarModificarDepartamento #cancelar{
    height: 60px;
    background-color: var(--colorboton2);
    border: 2px solid var(--colorBorde2);
    margin-top: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    & span{
        text-transform: uppercase;
        font-size: 1.1rem;
        color: var(--colorTexto1);
    } 
}
#vConsultarModificarDepartamento #cancelar:hover{
    background-color: var(--colorBotonMarcado2y3);
    border: 0px;
    & span{
        color: var(--colorTexto4);
    } 
}