:root {
    --color1: #CB333B;
    --color2: #ffffff;
    --color3: #f9f9f9;
    --color4: #333333;
    --colorPie: #F3F2F2;

    --colorBoton1: #CC292B;
    --colorBotonMarcado1: #980F10;
    --colorboton2: #FFFFFF;
    --colorBoton3: #CB333B;
    --colorBotonMarcado2y3: #999999;
  
    --colorBorde1: #cccccc;
    --colorBorde2: #555555;
    --radioBorde: 6px;
    --anchoBorde: 1px;
  
    --colorTexto1: #3B3A3B;
    --colorTexto2: #CB333B;
    --colorTexto3: #00716A;
    --colorTexto4: #FFFFFF;
    --tamanoTexto: 16px;
    --fuenteTexto1: Open Sans, sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Open Sans, sans-serif;
    color: var(--colorTexto1);
    list-style: none;
}
/* Estilos comunes para todas las paginas */
main{
    min-height: 75vh;
}
button {
    background-color: var(--color2);
    border: 0px;
    cursor: pointer;
}
.oculto{visibility: hidden;}
.visible{visibility: visible;}
.rojo{color: var(--color1);}
.enlace{text-decoration: underline;}
/* Barra superior*/
#aviso{
    background-color: var(--color1);
    color: var(--colorTexto4);
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 9px;
    text-transform: uppercase;
    width: 100%;
}
/* Cabecera */
#cabecera{
    background-color: var(--color2);
    border-bottom: var(--colorBorde1) solid var(--anchoBorde);
    padding: 15px 0px 15px 15px;
    position: sticky;
    top: 0;
    z-index: 2000;
    width: 100%;
}
#cabecera img{
    height: 40px;
}
#cabecera h2{
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    width: 100%;
}
#cabecera .menuIdioma button{
    position: relative;
}
#cabecera .menuIdioma p{
    position: absolute;
    top: 6px;
    left: 5px;
}
#cabecera .enlaceIniciarSesion{font-weight: bold;}
#cabecera .enlaceIniciarSesion:hover, #cabecera .enlaceRegistrarse:hover {
    text-decoration: underline;
}
#cabecera .menuCabecera{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 100px 50px 50px;
}
#cabecera .menuIniciarSesion{position: relative;}
#cabecera .submenuIniciarSesion{
    position: absolute;
    width: 111px;
    top: 40px;
    left: -40px;
    background-color: var(--color2);
    padding: 15px;
    border: 1px solid var(--colorBorde1);
    display: none;
}
#cabecera li:hover .submenuIniciarSesion{display: block;}


/* Inicio Público */
#vInicioPublico .imagenesCentrales img{
    width: 400px;
    border: var(--anchoBorde) solid var(--colorBorde1);
}

/* Login */
#vLogin #login{
    margin: 50px calc((100dvw - 550px)/2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#vLogin #login #registro{
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
}
#vLogin #login #registro button{
    width: 100%;
}
#vLogin #login h2{
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    font-size: 1rem;
}
#vLogin #login>h2{
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    border-top: var(--anchoBorde) solid var(--colorBorde2);
}
#vLogin #login .contenido{
    grid-column: 1/ span 2;
    padding: 30px;
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    & *{
        width: 100%;
        margin-bottom: 16px;
    }
}
#vLogin #login .contenido input{
    padding: 6px 12px;
    font-size: 1.2rem;
    height: 50px;
    margin-top: 8px;
    background-color: #fff1de;
    border: var(--anchoBorde) solid var(--colorBorde2);
}
#vLogin #entrar{
    background-color: var(--colorBoton3);
    height: 60px;
    margin-top: 16px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        text-transform: uppercase;
        font-size: 1.1rem;
    } 
}
#vLogin #cancelar{
    height: 60px;
    border: 2px solid var(--colorBorde2);
    margin-top: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
    & span{
        text-transform: uppercase;
        font-size: 1.1rem;
    } 
}
#vLogin #entrar:hover{background-color: var(--colorBotonMarcado2y3);}
#vLogin #cancelar:hover{
    background-color: var(--colorBotonMarcado2y3);
    border: 0px;
    & span{
        color: var(--colorTexto4);
    } 
}

/* Registro */
#vRegistro #registro{
    margin: 50px calc((100dvw - 550px)/2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#vRegistro #registro h2{
    font-size: 20px;
    padding: 8px 16px;
    text-align: center;
    font-size: 1rem;
}
#vRegistro #registro #iniciarSesion{
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
}
#vRegistro #registro #iniciarSesion button{
    width: 100%;
}
#vRegistro #registro>h2{
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    border-top: var(--anchoBorde) solid var(--colorBorde2);
}
#vRegistro #registro .contenido{
    grid-column: 1/ span 2;
    padding: 30px;
    border-left: var(--anchoBorde) solid var(--colorBorde2);
    border-bottom: var(--anchoBorde) solid var(--colorBorde2);
    border-right: var(--anchoBorde) solid var(--colorBorde2);
    & *{
        width: 100%;
    }
}
#vRegistro #registro .contenido label{
    display: block;
    margin-top: 16px;
}
#vRegistro #registro .contenido input{
    padding: 6px 12px;
    font-size: 1.2rem;
    height: 50px;
    margin-top: 8px;
    background-color: #fff1de;
    border: var(--anchoBorde) solid var(--colorBorde2);
}
#vRegistro .error{
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
}
#vRegistro .cuadroRojo{
    border-color: var(--color1);
}
#vRegistro #entrar{
    background-color: var(--colorBoton3);
    height: 60px;
    margin-top: 50px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        text-transform: uppercase;
        font-size: 1.1rem;
    } 
}
#vRegistro #entrar:hover{background-color: var(--colorBotonMarcado2y3);}

/* Inicio Privado */
#vInicioPrivado{background-color: var(--color3);}
#vInicioPrivado>form{
    padding: 16px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2,1fr);
}
#vInicioPrivado>form>div:first-child{
    grid-column: 1/span 2;
}
#vInicioPrivado>form>div:first-child button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vInicioPrivado>form>div:first-child button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vInicioPrivado .tarjeta{
    background-color: var(--color2);
    border: var(--anchoBorde) solid var(--colorBorde1);
    border-radius: var(--radioBorde);
    padding-bottom: 16px;
    margin: 8px 4px;
    display: inline-block;
    width: 100%;
}

#vInicioPrivado .tarjeta div:nth-of-type(1){
    border-bottom: var(--anchoBorde) solid var(--colorBorde1);
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    & *{
        font-size: 1rem;
        display: inline-block;
        /* font-weight: bold; */
    }
}
#vInicioPrivado .tarjeta div:nth-of-type(2){
    padding-left: 16px;
    padding-right: 16px;
}

/* REST */
#vRest{background-color: var(--color3);}
#vRest{
    padding: 16px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
}
#vRest label{
    /* display: block; */
    margin-top: 16px;
}
#vRest input{
    padding: 6px 12px;
    height: 30px;
    margin-top: 8px;
    border: var(--anchoBorde) solid var(--colorBorde2);
}
#vRest>form:first-child{
    grid-column: 1/span 3;
}
#vRest button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vRest>form>div:first-child button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vRest .tarjeta{
    background-color: var(--color2);
    border: var(--anchoBorde) solid var(--colorBorde1);
    border-radius: var(--radioBorde);
    padding-bottom: 16px;
    margin: 8px 4px;
    display: inline-block;
    width: 100%;
}

#vRest .tarjeta img{
    max-width: 33dvw;
}

#vRest .tarjeta>div:nth-of-type(1){
    border-bottom: var(--anchoBorde) solid var(--colorBorde1);
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    & *{
        font-size: 1rem;
        display: inline-block;
        /* font-weight: bold; */
    }
}
#vRest .tarjeta div:nth-of-type(2){
    padding-left: 16px;
    padding-right: 16px;
}

#vRest .contenidoNasa form{
    display: flex;
    justify-content: space-between;
}

#vRest .error{
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
}

/* Para página detalle, modificar el phpinfo */
#vDetalle {
    padding: 16px;
    background-color: var(--color2);
}
#vDetalle button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vDetalle button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vDetalle .detalle>h3{
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}
#vDetalle .detalle{
    margin: 0px 20px 20px 20px;
    padding: 0;
}
#vDetalle .detalle table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow: auto;
}
#vDetalle .detalle th{
    background-color: gainsboro;
    border: 1px solid black;
    padding: 3px;
}
#vDetalle .detalle td{
    border: 1px solid black;
    padding: 3px;
    overflow-wrap: break-word;
}
#vDetalle .detalle tr td:first-child{
    background-color: #8db7faff;
    font-weight: bold;
}
#vDetalle .detalle tr td:first-child, th:first-child{width: 30%;}
#vDetalle .detalle tr td:nth-of-type(2), th:nth-of-type(2){width: 69%;}
#vDetalle .detalle h3{
    text-align: center;
    margin: 10px;
}
#vDetalle #phpinfo{
    background-color: white; 
    color: black;
}
#vDetalle #phpinfo .v{background-color: white;}
#vDetalle #phpinfo .e{background-color: #8db7faff;}


/* Pie de pagína */
#pie{
    background-color: var(--colorPie);
    border-top: var(--anchoBorde) solid var(--colorBorde1);
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#pie div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    height: 40px;
}
#pie div a{
    display: grid;
    place-items: center;
}
#pie .derechos{font-size: 0.8rem;}
#pie img{
    height: 35px;
    margin-right: 10px;
}

