:root {
    --color1: #CB333B;
    --color2: #ffffff;
    --color3: #f9f9f9;
    --color4: #333333;
    --colorPie: #F3F2F2;

    --colorBoton1: #CC292B;
    --colorBotonMarcado1: #980F10;
    --colorboton2: #FFFFFF;
    --colorBoton3: #CB333B;
    --colorBotonMarcado2y3: #999999;
  
    --colorBorde1: #cccccc;
    --colorBorde2: #555555;
    --radioBorde: 6px;
    --anchoBorde: 1px;
  
    --colorTexto1: #3B3A3B;
    --colorTexto2: #CB333B;
    --colorTexto3: #00716A;
    --colorTexto4: #FFFFFF;
    --tamanoTexto: 16px;
    --fuenteTexto1: Open Sans, sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Open Sans, sans-serif;
    color: var(--colorTexto1);
    /* font-size: var(--tamanoTexto); */
    list-style: none;
}

/* Barra superior*/
#aviso{
    background-color: var(--color1);
    color: var(--colorTexto4);
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 9px;
    text-transform: uppercase;
    width: 100%;
}
/* Cabecera */
#cabecera{
    background-color: var(--color2);
    border-bottom: var(--colorBorde1) solid var(--anchoBorde);
    padding: 15px 0px 15px 15px;
    position: sticky;
    top: 0;
    z-index: 2000;
    width: 100%;
}
#cabecera img{
    height: 40px;
}
#cabecera button {
    background-color: var(--color2);
    border: 0px;
    cursor: pointer;
}
#cabecera h2{
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    width: 100%;
}
.menuIdioma button{
    position: relative;
}
.menuIdioma p{
    position: absolute;
    top: 6px;
    left: 5px;
}
#cabecera .enlaceIniciarSesion{font-weight: bold;}
#cabecera .enlaceIniciarSesion:hover, #cabecera .enlaceRegistrarse:hover {
    text-decoration: underline;
}
#cabecera .menuCabecera{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 100px 50px 50px;
}
#cabecera .menuIniciarSesion{position: relative;}
#cabecera .submenuIniciarSesion{
    position: absolute;
    width: 111px;
    top: 40px;
    left: -40px;
    background-color: var(--color2);
    padding: 15px;
    border: 1px solid var(--colorBorde1);
    display: none;
}
#cabecera li:hover .submenuIniciarSesion{display: block;}

/* Estilos comunes para todas las paginas */
main{
    min-height: 75vh;
}
main>h1{
    text-align: center;
    margin: 10px;
}
main>h2{
    text-align: center;
    margin: 5px;
}
img{
    max-width: 50dvw;
}
.oculto{visibility: hidden;}
.visible{visibility: visible;}

/* Inicio Público */
#inicioPublico .imagenesCentrales img{
    width: 400px;
    border: 1px solid rgb(213, 183, 183);
    border-radius: 10px;
}




/* Para página detalle, modificar el phpinfo */
.detalle>h3{
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}
.detalle{
    margin: 20px 20px 20px 20px;
}
.detalle table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow: auto;
}
.detalle th{
    background-color: gainsboro;
    border: 1px solid black;
    padding: 3px;
}
.detalle td{
    border: 1px solid black;
    padding: 3px;
    /* word-break: break-all; */
    overflow-wrap: break-word;
}
.detalle tr td:first-child{
    background-color: #8db7faff;
    font-weight: bold;
}
.detalle tr td:first-child, th:first-child{width: 30%;}
.detalle tr td:nth-of-type(2), th:nth-of-type(2){width: 69%;}
.detalle h3{
    text-align: center;
    margin: 10px;
}
body {
    background-color: white !important; /* Fuerza el fondo a blanco */
    color: black !important; /* Fuerza el texto a negro */
}
#phpinfo{
    background-color: white; 
    color: black;
}
#phpinfo .v{background-color: white;}
#phpinfo .e{background-color: #8db7faff;}


/* Pie de pagína */
#pie{
    background-color: var(--color3);
    border-top: var(--anchoBorde) solid var(--colorBorde1);
    margin-top: 20px;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#pie div{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    height: 40px;
}
#pie div a{
    display: grid;
    place-items: center;
}
#pie .derechos{font-size: 0.8rem;}
#pie #iconoGithub img{
    height: 35px;
    margin-right: 10px;
}
#pie #webImitada img{
    height: 36px;
}

