/* Página de Mantenimiento */
/* Página de Error */
#vExportarPDF{background-color: var(--color3);}
#vExportarPDF form{
    grid-column: 1/span 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
    padding-top: 16px;
}
#vExportarPDF form button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vExportarPDF form  button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vExportarPDF .tarjeta{
    background-color: var(--color2);
    border: var(--anchoBorde) solid var(--colorBorde1);
    border-radius: var(--radioBorde);
    padding-bottom: 16px;
    margin: 0 auto;
    width: 800px;
    padding: 30px;
    padding-top: 50px;
    display: grid;
    grid-template-rows: 1fr 10px;
    height: 1000px;
}
#vExportarPDF .tarjeta p{
    text-align: center;
}

/* #vExportarPDF .tarjeta div:nth-of-type(1){
    border-bottom: var(--anchoBorde) solid var(--colorBorde1);
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    & *{
        font-size: 1rem;
        display: inline-block;
    }
} */
#vExportarPDF .tarjeta div:nth-of-type(1){
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
}
#vExportarPDF th, td{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 8px 5px;
}
#vExportarPDF table{
    display: block;
}
@media print {
    /* Ocultamos botones, formularios de búsqueda y paginación */
    #aviso, #sombra, #cabecera, #pie, button{
        display: none !important;
    }
    #vExportarPDF .tarjeta{
        margin: 0;
        padding: 0px;
        width: 100%;
        border: 0px;
    }
}