/* Página de Mantenimiento */
#vMtoDepartamentos{background-color: var(--color3);}
#vMtoDepartamentos{
    padding: 16px;
}
#vMtoDepartamentos>form>div:first-child{
    grid-column: 1/span 1;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
}
#vMtoDepartamentos>form>div:first-child button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vMtoDepartamentos>form>div:first-child button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vMtoDepartamentos .tarjeta{
    background-color: var(--color2);
    border: var(--anchoBorde) solid var(--colorBorde1);
    border-radius: var(--radioBorde);
    padding-bottom: 16px;
    margin: 8px 4px;
    display: inline-block;
    width: 100%;
}

#vMtoDepartamentos .tarjeta div:nth-of-type(1){
    border-bottom: var(--anchoBorde) solid var(--colorBorde1);
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    & *{
        font-size: 1rem;
        display: inline-block;
    }
}
#vMtoDepartamentos .tarjeta div:nth-of-type(2){
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: var(--anchoBorde) solid var(--colorBorde1);
}
#vMtoDepartamentos .tarjeta div>form{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#vMtoDepartamentos .tarjeta div>form input{
    height: 30px;
    margin-left: 5px;
}
#vMtoDepartamentos .tarjeta div>form button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vMtoDepartamentos .tarjeta div:nth-of-type(2)>form button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vMtoDepartamentos .tarjeta div:nth-of-type(2)>table{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#vMtoDepartamentos #formTablaDepartamentos{
    height: 280px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#vMtoDepartamentos .baja{
    color: black;
}
#vMtoDepartamentos .alta{
    color: lightgray;
}
#vMtoDepartamentos .error{
    color: red;
    display: block;
    text-align: center;
}
#vMtoDepartamentos .correcto{
    color: green;
    display: block;
    text-align: center;
}
#vMtoDepartamentos #formularioBuscar{
    display: flex;
    flex-direction: column;
}
#vMtoDepartamentos #formularioBuscar>span{
    display: flex;
    justify-content: center;
    align-items: center;
}
#vMtoDepartamentos #formularioBuscar input[type="radio"] {
    margin-right: 15px;
}
#vMtoDepartamentos #paginacionTabla{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
#vMtoDepartamentos #paginacionTabla button{
    font-size: 1.2rem;
}
#vMtoDepartamentos #paginacionTabla p{
    display: flex;
    justify-content: center;
    align-items: center;
}
