/* REST */
#vRest{
    padding: 16px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3,1fr);
    background-color: var(--color3);
}
#vRest label{
    /* display: block; */
    margin-top: 16px;
}
#vRest input{
    padding: 6px 12px;
    height: 30px;
    margin-top: 8px;
    border: var(--anchoBorde) solid var(--colorBorde2);
}
#vRest>form:first-child{
    grid-column: 1/span 3;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 10px;
}
#vRest button{
    background-color: var(--colorBoton1);
    margin-right: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    & span{
        color: var(--colorTexto4);
        font-size: 0.9rem;
    }
}
#vRest>form>div:first-child button:hover{
    background-color: var(--colorBotonMarcado1);
}
#vRest .tarjeta{
    background-color: var(--color2);
    border: var(--anchoBorde) solid var(--colorBorde1);
    border-radius: var(--radioBorde);
    padding-bottom: 16px;
    margin: 8px 4px;
    display: inline-block;
    width: 100%;
}

#vRest .tarjeta img{
    max-width: 33dvw;
}

#vRest .tarjeta>div:nth-of-type(1){
    border-bottom: var(--anchoBorde) solid var(--colorBorde1);
    padding: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    & *{
        font-size: 1rem;
        display: inline-block;
        /* font-weight: bold; */
    }
}
#vRest .tarjeta div:nth-of-type(2){
    padding-left: 16px;
    padding-right: 16px;
}

#vRest .contenidoNasa form{
    display: flex;
    justify-content: space-between;
}

#vRest .error{
    display: block;
    font-size: 0.8rem;
    margin-top: 5px;
}
